body{
    padding: 0;
    margin: 0;
}

/* .yellow-box {
    background-color: #ffffb4;
    border: 1px solid black;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.green-box {
    background-color: #c4ffb4;
    min-height: 30px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.blue-box {
    background-color: #65dae8;
    min-height: 30px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
} */